@charset "UTF-8";

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #9C9C9C;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #0D0D11;
  font-weight: 300;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  display: inline-block;
  text-align: center;
  padding: 16px 30px;
  border-radius: 50px;
  color: #fff;
  letter-spacing: 2px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.43;
  background-color: #3D96F4;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.button:hover {
  background-color: #68a9f0;
}

.button_dark {
  background-color: rgba(129, 129, 139, 0.2);
}

.button_dark:hover {
  background-color: rgba(129, 129, 139, 0.3);
}

.title {
  font-weight: 500;
  font-size: 3.1875rem;
  line-height: 1.19;
  color: #fff;
  max-width: 520px;
}

.text {
  line-height: 1.5;
  font-size: 18px;
  color: #9c9c9c;
  max-width: 500px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(13, 13, 17, 0.5);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 116px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.header__button,
.header__cart,
.header__logo {
  position: relative;
  z-index: 5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 3px;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__link {
  font-size: 1rem;
  color: #fff;
  line-height: 1.625;
}

.menu__link:hover {
  text-decoration: underline;
  color: #cccccc;
}

.cart-header {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.cart-header:hover .cart-header__text {
  text-decoration: underline;
  color: #cccccc;
}

.cart-header__text {
  font-size: 18px;
  line-height: 1.5555555556;
}

.cart-header__quantuty {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  background: rgba(129, 129, 139, 0.3);
}

.icon-menu {
  display: none;
}

.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.main {
  padding-top: 160px;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.header-main__label {
  display: inline-block;
  border: 1px solid rgba(129, 129, 139, 0.2);
  border-radius: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9c9c9c;
  padding: 11px 18px;
  -webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}

.header-main__label:hover {
  border: 1px solid rgba(129, 129, 139, 0.4);
}

.header-main__label:not(:last-child) {
  margin-bottom: 19px;
}

.header-main__title:not(:last-child) {
  margin-bottom: 28px;
}

.header-main__text:not(:last-child) {
  margin-bottom: 33px;
}

.header-main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 15px;
}

.title-decor {
  position: relative;
}

.title-decor::before {
  content: "";
  background: url("../img/people/decor.svg");
  width: 122px;
  height: 122px;
  position: absolute;
  top: -15px;
  left: -34px;
}

.images-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.images-main__item {
  overflow: hidden;
  border-radius: 50%/28%;
}

.images-main__item img {
  max-width: 100%;
}

.images-main__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.images-main__item_1,
.images-main__item_4 {
  border-radius: 50%/28%;
}

.images-main__item_2 {
  border-radius: 50% 50% 0 50%;
}

.images-main__item_3 {
  border-radius: 50% 0% 50% 50%;
}

.page__clients {
  padding-top: 100px;
  padding-bottom: 70px;
}

.clients__title {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  font-size: 0.875rem;
  line-height: 1.57;
  margin-bottom: 44px;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow-x: auto;
}

.page__services {
  padding-top: 70px;
  padding-bottom: 100px;
}

.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.services__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.services__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}

.services__column:first-child {
  padding-top: 48px;
}

.services__item:not(:last-child) {
  margin-bottom: 32px;
}

.item-service {
  border-radius: 30px;
  background: rgba(129, 129, 139, 0.1);
  padding: 55px 25px;
  display: block;
}

.item-service__icon:not(:last-child) {
  margin-bottom: 16px;
}

.item-service__title {
  font-size: 1.1875rem;
  line-height: 1.42;
  font-weight: 400;
  color: #fff;
}

.item-service__title:not(:last-child) {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .header-main__title {
    max-width: 520px;
  }

  .header-main__text {
    max-width: 500px;
  }
}

@media (max-width: 1100px) {
  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .services__header .header-main__title,
  .services__header .header-main__text {
    max-width: none;
  }
}

@media (max-width: 991.98px) {
  .button {
    padding: 10px 20px;
  }

  .title {
    font-size: 2.75rem;
  }

  .header__container,
  .menu__list {
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }

  .header__container {
    min-height: 90px;
  }

  .main {
    padding-top: 120px;
  }

  .page__clients {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .clients__title {
    margin-bottom: 50px;
  }

  .page__services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 767.98px) {
  .title {
    font-size: 2rem;
  }

  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 1px);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 70px;
    background: #000;
    z-index: 2;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__list {
    row-gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .menu__link {
    font-size: 2rem;
  }

  .header__container {
    min-height: 70px;
    gap: 10px;
  }

  .main {
    padding-top: 100px;
  }

  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__content {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }

  .page__clients {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .page__services {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 620px) {
  .services__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-service {
    padding: 25px;
  }
}

@media (max-width: 560px) {
  .header__logo {
    width: 39px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 39px;
            flex: 0 0 39px;
    overflow: hidden;
  }

  .cart-header__text {
    display: none;
  }

  .cart-header__quantuty {
    border-radius: 0;
    width: 40px;
    height: 40px;
    padding-bottom: 3px;
    padding-left: 3px;
    background: url("../img/cart.svg") center/auto 100% no-repeat;
  }
}

@media (max-width: 479.98px) {
  .header-main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}